@font-face {
  font-family: "Bahnschrift";
  src: url(assets/fonts/bahnschrift.ttf) format(truetype);
}

@font-face {
  font-family: "Hatten";
  src: url(assets/fonts/hatten.ttf) format(truetype);
}

@font-face {
  font-family: "Castelar";
  src: url(assets/fonts/castelar.ttf) format(truetype);
}

:root {
  --corps-red: #ce0c00;
  --corps-white: #fff;
}

body {
  font-family: Bahnschrift, sans-serif;
}

.jumbotron {
  color: white;
  background-color: var(--corps-red);
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 0;
}

.jumbotron h1 {
  font-family: Castelar, sans-serif;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* p { */
/* font-size: 18px; */
/* margin-bottom: 20px; */
/* } */

.no-padding {
  padding: 0 !important;
}

.navbar,
footer {
  color: white;
  background: var(--corps-red);
  font-size: large;
  /* border-bottom: 1px solid #e5e5e5; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0 12px;
}

.navbar-brand {
  font-family: Castelar, sans-serif;
  font-size: x-large;
  color: white;
}

header.masthead {
  background-color: var(--corps-red);
  padding-top: 6.5rem;
  padding-bottom: 20rem;
  text-align: center;
  color: #fff;
  background-image: url("assets/img/rrqmVauU.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Bahnschrift", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Castelar", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.masthead {
    /* padding-top: 17rem; */
    padding-bottom: 28rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 5.5rem;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}

.gig-list p {
  margin-bottom: 0;
}

.gig-list {
  padding: 0;
  max-width: 1000px;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.fab {
  color: var(--corps-red);
}

.btn-social {
  border: 0;
  background-color: var(--corps-white);
  color: var(--corps-red);
}

.btn-social:hover, .btn-social:active, .btn-social:focus {
  background-color: var(--corps-red);
  color: var(--corps-white);
}

.mail-link, .mail-link:hover {
  color: var(--corps-white);
}

/* * {
    border: 1px solid red;
} */
